@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.App {
  text-align: center;
  background-color: crimson;
  min-height: 100vh;
  font-family: 'Ubuntu Mono', monospace;
}

a, a:link, a:visited, a:hover, a:active {
  color:white;
  text-decoration: none;
}

img {
  width:  200px;
  height: 300px;
  object-fit:cover;  
  border-radius: 10%;
  border: 3px solid white;
}

h1, h2, h3, h4, p {
  font-weight: bolder;
  color:white;
}

select, button, option {
  font-size:15px;
  font-family: 'Ubuntu Mono', monospace;
  color: white;  
  background-color: crimson;
  text-decoration: none;
  border:0;

}

#welcome {
  color:white;
  font-size: 5em;
  background-color: rgb(146, 10, 37);
  max-width: 100%;
  padding: 25px;
}